@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Squada+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600&family=Poppins&display=swap");

/* https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Squada+One&display=swap */

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../assets/gilroy/Gilroy-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Light";
  src: url("../assets/gilroy/Gilroy-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../assets/gilroy/Gilroy-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
